* {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    padding: 0px 5vw;
}

footer {
    background-color: #202020;
    color: white;
    height: 7vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

footer p {
    margin: 0px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.logo img {
    width: 2.125rem;
    height: 2.125rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mainImg {
    background-image: url("imgs/background.png");
    background-size: cover;
    background-position: center;
    width: 100vw;
    aspect-ratio: 16 / 9;
    position: relative;
    color: white;
    display: flex;
    justify-content: end;
    padding: 2rem;
    max-height: 500px;
    flex-direction: column;
}

.blog {
    width: 100vw;

}

.blog img {
    width: 90%;
    background-size: contain;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2rem;
    padding: 2rem 1rem;

}

p {
    margin: 1rem 0;
}