* {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    height: 7vh;
    align-items: center;
    padding: 0px 3vw;
    position: relative;
}

footer {
    background-color: #202020;
    color: white;
    height: 7vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

footer p {
    margin: 0px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

li {
    padding: 0px 1rem;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
}

.logo img {
    width: 2.125rem;
    height: 2.125rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.mainImg {
    width: 80%;
    height: auto;
    display: block;
    position: relative;
    color: white;
    display: flex;
    margin: 0 auto;
}

.textDescription,
.introText {
    padding: 4rem 15vw;
    ;
}

.blog {
    width: 100%;
    padding: 0px 1rem;

}

.blog img {
    width: 100%;
    object-fit: contain;
}

.blogs {
    width: 90%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 6% 3% 0 3%;
    gap: 2rem;
}

.addBlogs {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin: 1rem 0 2rem 0;
}

h1,
h2 {
    font-weight: bold;
}

p {
    margin: 0.5rem 0px;
}

a {
    text-decoration: none;
    color: black;
}

.navBar {
    display: block;
    position: absolute;
    right: 0;
    bottom: -100%;
    width: rem;
    padding: 0;
    border-radius: 5px;
}

.fa-solid {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-100%, -50%);
}

.hide {
    display: none;
}

@media(min-width: 415px) {
    .blogs {
        grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
        grid-auto-flow: dense;

    }

    .aboutMe {
        flex-direction: row;
    }

    .navBar {
        display: flex;
        position: relative;
        width: auto;
    }

    .fa-solid {
        display: none;
    }

    li {
        padding: 0px;
        border: none;
    }
}